<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="NER - Test Suite" verbose="1" parallel="tests" thread-count="4" preserve-order="false">
    <listeners>
        <listener class-name="com.appium.framework.listeners.TestListener" />
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>
    <test name="NER - Smoke Test - Nexus 6P" >
        <parameter name="device-name" value="Nexus 6P" />
        <parameter name="platform-name" value="Android" />
        <parameter name="platform-version" value="8.1.0" />
        <parameter name="automation-name" value="UiAutomator2" />
        <parameter name="app-package" value="APP_PACKAGE_NAME" />
        <parameter name="app-activity" value="APP_ACTIVITY_ID" />
        <parameter name="wda-system-port" value="8200" />
        <classes>
            <class name="com.appium.framework.tests.Sample" />
        </classes>
    </test>


   <test name="NER - Smoke Test - iPhone 8 Plus" >
        <parameter name="device-name" value="iPhone 8 Plus" />
        <parameter name="platform-name" value="iOS" />
        <parameter name="platform-version" value="13.1.2" />
        <parameter name="automation-name" value="XCUITest" />
        <parameter name="udid" value="DEVICE_UDID" />
        <parameter name="bundle-id" value="APP_BUNDLE_ID" />
       <parameter name="wda-port" value="8200" />
        <classes>
            <class name="com.appium.framework.tests.Sample" />
        </classes>
    </test>

<!--
    <test name="NER - Smoke Test - iPhone 6s - White" >
        <parameter name="device-name" value="iPhone 6s" />
        <parameter name="platform-name" value="iOS" />
        <parameter name="platform-version" value="13.2" />
        <parameter name="automation-name" value="XCUITest" />
        <parameter name="udid" value="DEVICE_UDID" />
        <parameter name="bundle-id" value="APP_BUNDLE_ID" />
        <parameter name="wda-port" value="8201" />
        <classes>
            <class name="com.appium.framework.tests.Sample" />
        </classes>
    </test>
-->

    <test name="NER - Smoke Test - iPhone 6s - Black" >
        <parameter name="device-name" value="iPhone 6s" />
        <parameter name="platform-name" value="iOS" />
        <parameter name="platform-version" value="13.1.2" />
        <parameter name="automation-name" value="XCUITest" />
        <parameter name="udid" value="DEVICE_UDID" />
        <parameter name="bundle-id" value="APP_BUNDLE_ID" />
        <parameter name="wda-port" value="8202" />
        <classes>
            <class name="com.appium.framework.tests.Sample" />
        </classes>
    </test>

    <test name="NER - Smoke Test -  iPhone 6s Plus" >
        <parameter name="device-name" value="iPhone 6s Plus" />
        <parameter name="platform-name" value="iOS" />
        <parameter name="platform-version" value="13.1.3" />
        <parameter name="automation-name" value="XCUITest" />
        <parameter name="udid" value="DEVICE_UDID" />
        <parameter name="bundle-id" value="APP_BUNDLE_ID" />
        <parameter name="wda-port" value="8203" />
        <classes>
            <class name="com.appium.framework.tests.Sample" />
        </classes>
    </test>

</suite>
