<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.epam.ta.reportportal.log4j.appender" status="error">
    <Properties>
        <Property name="LOG_DIR_PATH">automation-script-logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] [%-5p] (%F:%L) - [%X{DEVICE_NAME}] - %m%n</Property>
        <Property name="RP_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] [%-5p] (%F:%L) - %m%n</Property>
    </Properties>
    <Appenders>
        <!-- Following appender is used to display logs in console. -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${LOG_PATTERN}</pattern>
            </PatternLayout>
        </Console>

        <!-- Following appender is used to add logs from log4j2 to ReportPortal. -->
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </ReportPortalLog4j2Appender>

    </Appenders>

    <Loggers>
        <Logger name="com" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ReportPortalAppender"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ReportPortalAppender"/>
        </Root>
    </Loggers>
</Configuration>